@*asp-controller="NewsLetter" asp-action="SubscribeMail"*@

<div class="tech-btm">
    <p>Dəstək olmaq üçün sayta abunə ol</p>
    <input class="btn btn-primary read-m" id="subscribe" type="submit" value="Abunə ol" />

</div>

<script>
    $("#subscribe").click(() => {
        $.post("/Newsletter/Subscribe/");
        alert("Abunə olduğunuz üçün təşəkkür edirik");
    });

</script>





