<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin panel</title>

    <link href="~/AdminTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="~/AdminTemplate/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="~/AdminTemplate/css/animate.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
 


    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />


</head>

<body>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                

                    @await Component.InvokeAsync("WriterDetailLeftNavbar")

                
                <li>
                    <a asp-controller="Writer" asp-action="Update"><i class="fa fa-diamond"></i> <span class="nav-label">Profil</span></a>
                </li>
                <li>
                    <a asp-controller="Writer" asp-action="Blogs"><i class="fa fa-table"></i> <span class="nav-label">Bloqlar</span></a>                   
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Add"><i class="fa fa-edit"></i> <span class="nav-label">Yeni bloq</span></a>                   
                </li>
                  <li>
                    <a href="/Home/Index"><i class="fa fa-laptop"></i> <span class="nav-label">Sayta geri dön</span></a>
                </li>
                <li>
                    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a asp-controller="Message" asp-action="Index">Gələn mesajlar</a></li>
                        <li><a asp-controller="Message" asp-action="Send">Göndərilən mesajlar</a></li>
                        <li><a asp-controller="Message" asp-action="Add">Mesaj göndər</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Axtarılacaq söz ..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                

                @await Component.InvokeAsync("WriterMessageNotification")


                <li>
                    <a asp-controller="Auth" asp-action="LogOut">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>@ViewBag.Title</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana Səhifə</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>@ViewBag.Title</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content  animated fadeInRight">

                @RenderBody()
        </div>
        <br />
        <br />
        <div class="footer">
            <div class="float-right">
                <a class="btn btn-info" href="/Admin/Blog/Index">Admin panel</a>
            </div>
            <div>
                <strong>murad.yunus.2017@gmail.com</strong> Admin hamını salamlıyır
            </div>
        </div>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script src="~/AdminTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/AdminTemplate/js/popper.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.js"></script>
    <script src="~/AdminTemplate/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AdminTemplate/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AdminTemplate/js/inspinia.js"></script>
    <script src="~/AdminTemplate/js/plugins/pace/pace.min.js"></script>

<script>

    $(document).ready(function(){

        $(document.body).on("click",".client-link",function(e){
            e.preventDefault()
            $(".selected .tab-pane").removeClass('active');
            $($(this).attr('href')).addClass("active");
        });

    });


</script>

</body>
</html>
