<div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Message/Add">Mesaj göndər</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Message/Index/"> <i class="fa fa-inbox "></i> Gələn mesajlar</a></li>
                                <li><a href="/Message/Send/"> <i class="fa fa-envelope-o"></i> Göndərilən mesajlar</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
