                        <div class="tech-btm widget_social">
                            <h4>Sosyal medya</h4>
                            <ul>

                                <li>
                                    <a class="twitter" href="https://twitter.com/Muradov2309">
                                        <i class="fab fa-twitter"></i>
                                        <span class="count">317K</span> Twitter Followers</a>
                                </li>
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/yunus.murad.399">
                                        <i class="fab fa-facebook-f"></i>
                                        <span class="count">218k</span> Twitter Followers</a>
                                </li>
                                <li>
                                    <a class="pin" href="https://tr.pinterest.com/muradyunus2017/">
                                        <i class="fab fa-pinterest"></i>
                                        <span class="count">190k</span> Pinterest Followers</a>
                                </li>

                            </ul>
                        </div>      
