<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>


<div class="comment-top">
    <h4>Rəy bildir</h4>
    <div class="comment-bottom">
        <form method="post" action="/Blog/AddComment">
            <textarea class="form-control" name="Content" placeholder="Mesaj..." id="Message" required=""></textarea>
            <button type="submit" class="btn btn-primary submit" id="submit">Göndər</button>
        </form>
        
    </div>
</div>
