@using UI.Models;
@{
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@model MessageModel


<div class="wrapper wrapper-content">
        <div class="row">

             <partial name="~/PartialViews/WriterLayout/MessageTransactions.cshtml"/> 

            <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="float-right tooltip-demo">
                    <a asp-controller="Message" asp-action="Index" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Imtina et</a>
                </div>
                <h2>
                    Mesaj göndər
                </h2>
            </div>
                <div class="mail-box">


                <div class="mail-body">

                    <form method="post" asp-action="Add" asp-controller="Message" enctype="multipart/form-data">
                        <div class="form-group row"><label class="col-sm-2 col-form-label">Alıcı:</label>

                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="Email və ya istifadəçi adı" asp-for="Email"/></div>
                            <div class="col-sm-10"> <span class="text-danger" asp-validation-for="Email"></span></div>
                        </div> 
                        <div class="form-group row"><label class="col-sm-2 col-form-label">Mövzu:</label>

                            <div class="col-sm-10"><input type="text" class="form-control" asp-for="Subject" value=""></div>
                           <div class="col-sm-10"> <span class="text-danger" asp-validation-for="Subject"></span></div>
                        </div>

                        <div class="mail-text h-200">

                        <div class="summernote">
                           <textarea class="form-control" name="Content" placeholder="Mesaj yazın" style="min-height:150px"></textarea>    
                            <span class="text-danger" asp-validation-for="Content"></span>

                            <br/>
                            <br/>

                        </div>
                        <div class="clearfix"></div>
                         <div class="form-group row"><label class="col-sm-2 col-form-label">Fayl:</label>

                            <div class="col-sm-10"><input type="File" class="form-control" asp-for="File" value=""></div>
                           <div class="col-sm-10"> <span class="text-warning">File göndərmək istəmirsinizsə boş qoyun</span></div>
                        </div>


                        </div>
                    <div class="mail-body text-right tooltip-demo">
                        <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Göndər</button>
                    </div>
                    <div class="clearfix"></div>



                        </form>



                </div>





                </div>
            </div>
        </div>
        </div>